@model WebApplication4.Models.FlightBookingModel

<!DOCTYPE html>
<html>
<head>
    <title>Booking Confirmation</title>
</head>
<body>
    <h2>Booking Confirmation</h2>
    <p>Dear @Model.FirstName @Model.LastName, your flight has been booked successfully. Check your email for further details.</p>
    <h3>Booking Details:</h3>
    <p>First Name: @Model.FirstName</p>
    <p>Last Name: @Model.LastName</p>
    <p>Email: @Model.Email</p>
    <p>Location: @Model.Location</p>
    <p>Departure Date: @Model.DepartureDate.ToShortDateString()</p>
    <p>Arrival Date: @Model.ArrivalDate.ToShortDateString()</p>
</body>
</html>
