@model WebApplication4.Models.FlightBookingModel

@{
    ViewBag.Title = "Flight";
}

<h2>Flight Booking</h2>
@using (Html.BeginForm("BookFlight", "Booking", FormMethod.Post))
{
    <div>
        <label>First Name:</label>
        @Html.TextBoxFor(model => model.FirstName)
    </div>
    <div>
        <label>Last Name:</label>
        @Html.TextBoxFor(model => model.LastName)
    </div>
    <div>
        <label>Email:</label>
        @Html.TextBoxFor(model => model.Email)
    </div>
    <div>
        <label>Destination:</label>
        @Html.DropDownListFor(model => model.Destination, ViewBag.Provinces as SelectList, "Select Province")
    </div>
    <div>
        <label>Departure Date:</label>
        @Html.TextBoxFor(model => model.DepartureDate, new { type = "date" })
    </div>
    <div>
        <label>Arrival Date:</label>
        @Html.TextBoxFor(model => model.ArrivalDate, new { type = "date" })
    </div>
    <button type="submit">Submit</button>
}


