@model WebApplication4.Models.CarRentalModel

@{
    ViewBag.Title = "Car Rental";
}

<h2>Car Rental</h2>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div id="carRentalForm">
    @using (Html.BeginForm("Create1", "Booking", FormMethod.Post, new { id = "carRentalFormAjax" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CarModel, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.CarModel, (SelectList)ViewBag.CarModels, "Select Car Model", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CarModel, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RentalStartDate, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RentalStartDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.RentalStartDate, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RentalEndDate, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RentalEndDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.RentalEndDate, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
    }
</div>


@* AJAX *@
<script>
    $(document).ready(function () {
        $('#carRentalFormAjax').submit(function (e) {
            e.preventDefault(); // Prevent regular form submission
            var formData = $(this).serialize(); // serialize prepares input for ajax

            $('#loader').show();// Displays Spinner

            $.ajax({ // will send a ajax request
                url: $(this).attr('action'), 
                type: $(this).attr('method'),
                data: formData,
                success: function (result) { // This function will be called if the request goes through
                    $('#carRentalForm').html(result); // Form is loaded
                },
                error: function (xhr, status, error) { // Errors handling if request fails
                    console.error(xhr.responseText); 
                },
                complete: function () {
                    $('#loader').hide(); // Spinner is hidden once request is processed
                }
            });
        });
    });
</script>
